.margin-20 {
    margin-top: 20px;
}

.welcome-line {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    color: #B00020;
}

.welcome-sec p strong {
    color: #000;
    cursor: pointer;
    font-size: 18px;
    text-underline-offset: 2px;
    text-decoration: underline;
}


.welcome-sec {
    min-height: 130px;
}