.header-usa {
    background-image: url(assets/images/usa/USA.png);
    /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

}


@media screen and (max-width: 768px) {
    .header-usa {
        min-height: 300px;
        background-position: center;
    }
}