.search-banner {
    background-image: url(/assets/images/geawallpaper/wp2244522-united-kingdom-wallpapers.jpg);
    background-position: center -300px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    overflow: auto;
    min-height: 700px;
    transition: .4s ease-in-out;
    z-index: 1;
}



/* .search-banner::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
} */

/* 
@media only screen and (max-width: 1200px){
    .search-banner{
        min-height: 210px;
        transition:  .4s ease-in-out;
    }
} */

@media screen and (max-width: 1400px) {}