.search-banner {
    background-image: url(/assets/images/geawallpaper/wp2244522-united-kingdom-wallpapers.jpg);
    background-position: center -300px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    overflow: hidden;
    min-height: 700px;
    transition: .4s ease-in-out;
    z-index: 1;
}





@media screen and (max-width: 1400px) {}