.search-banner {
    background-image: url("https://cdn.britannica.com/01/94501-050-7C939333/Big-Ben-London.jpg");
    background-position: center -100px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    overflow: hidden;
    transition: .4s ease-in-out;
    z-index: 1;
}





@media screen and (max-width: 768px) {
    .search-banner {
        height: calc(100vh - 480px);
        background-position: center;
    }
}