.button-wrapper {
    width: 100% !important;
    max-width: 1066px;
    height: 100% !important;
}

.container {
    min-height: 300px;
}

.banner-btn {

    background-color: #B40C31 !important;
    padding: 10px;

    min-width: 96px;
    color: #fff !important;
    margin-right: 5px;
    min-height: 40px;
    border: none !important;

}

.banner-btn:hover {
    background-color: #2B5FE0 !important;

    color: #fff !important;
}

.banner-btn:focus {
    background-color: #2B5FE0 !important;
    color: #fff;

    border-color: #69b090;
}

.banner-btn:active {
    border-color: #69b090;

}



.search-wrapper {
    max-width: 663px;
}

/* 
@media screen and (max-width: 1600px) {


    .search-banner>.container {

        min-height: 575px !important;
    }

}

@media screen and (max-width: 1429px) {
    
    .search-banner>.container {

        min-height: 525px !important;
    }
    .btn-container{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 1200px) {

} */

/* For screens with a width of 1600px or less */
@media screen and (max-width: 1600px) {
    .search-banner>.container {
        min-height: 575px !important;

    }
}

/* For screens with a width of 1429px or less */
@media screen and (max-width: 1429px) {
    .search-banner>.container {
        min-height: 502px !important;

    }

    .btn-container {
        margin-bottom: 50px;

    }
}

/* For screens with a width of 1200px or less */
@media screen and (max-width: 1200px) {
    .search-banner>.container {
        min-height: 475px !important;
        /* Further reduces container height */
    }

    .btn-container {
        margin-bottom: 40px;
        /* Slightly less margin for tighter layouts */
    }
}

/* For screens with a width of 992px or less */
@media screen and (max-width: 992px) {
    .search-banner>.container {
        min-height: 425px !important;
        /* Adjusts container for tablets */
    }

    .btn-container {
        /* margin-bottom: 30px;  */
        /* Reduces margin for compact layout */
    }
}

/* For screens with a width of 768px or less */
@media screen and (max-width: 768px) {
    .search-banner>.container {
        min-height: 375px !important;
        /* For smaller tablets and large phones */
    }

    .btn-container {
        margin-bottom: 20px;
        /* Minimal margin for small screens */
    }
}

/* For screens with a width of 576px or less */
@media screen and (max-width: 576px) {
    .search-banner>.container {
        min-height: 325px !important;
        /* For mobile phones */
        margin-left: 16px !important
    }

    .btn-container {
        margin-bottom: 15px;
        /* Compact margin for mobile */
    }
}