.button-wrapper {
    width: 100% !important;
    max-width: 1066px;
    height: 100% !important;
}

.container {
    min-height: 300px;
}

.banner-btn {

    background-color: #B40C31 !important;
    padding: 10px;

    min-width: 96px;
    color: #fff !important;
    margin-right: 5px;
    min-height: 40px;
    border: none !important;

}

.banner-btn:hover {
    background-color: #2B5FE0 !important;

    color: #fff !important;
}

.banner-btn:focus {
    background-color: #2B5FE0 !important;
    color: #fff;

    border-color: #69b090;
}

.banner-btn:active {
    border-color: #69b090;

}



.search-wrapper {
    max-width: 663px;
}