.slick-arrow .slick-next {
  display: none !important;

}

.slick-next::before {
  display: none !important;
  background-color: none !important;
}

.slick-prev:before {
  display: none !important;
  background-color: none !important;
}

.img-fluid {
  height: 125px !important;
  border-radius: 10px;
}

.slick-initialized .slick-slide {
  width: 250px !important;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
}

.slick-track {
  display: flex;
  padding: 99px;
  flex-direction: row;
  align-items: center;

}

.slick-slide>div {
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}