.contact-btn a {
    font-size: 14px;
    background: #FFF;
    color: #B40C31;
    /* padding: 10px 20px; */
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    white-space: nowrap;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /* border: 1px solid #B40C31; */
    text-decoration: none;
}

.contact-btn a:hover {
    /* background-color: #69b090; */
    /* background: transparent;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff; */
}

.contact-btn-parent{
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .fade {
        padding-left: 0 !important;
    }
}

@media (max-width: 1220px) {
    .contact-btn a {
        /* font-size: 14px;    Slightly reduce font size */
        /* padding: 5px 5px;   */
        width: auto;
        /* Ensure the button adjusts width dynamically */
    }
}

@media (max-width: 992px) {
    .contact-btn-parent {
        justify-content: flex-start !important;

    }
}