.contact-btn a {
    font-size: 16px;
    background: #FFF;
    color: #B40C31;
    padding: 10px 20px;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /* border: 2px solid #B40C31; */
    text-decoration: none;   
}

.contact-btn a:hover {
    /* background-color: #69b090; */
    background: transparent;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
}