.contact-btn a {
    font-size: 16px;
    background: #004d00;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #004d00;
    text-decoration: none;
}

.contact-btn a:hover {
    /* background-color: #69b090; */
    background: transparent;
    color: #004d00;
    border-radius: 5px;
    border: 2px solid #004d00;
}