#multi-search {
    transition: all 100ms;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    /* box-sizing: border-box; */
    width: calc(100% - 50%);
    margin-top: 10px;
    /* margin-right: 5px; */
    color: #000;
    border: solid;
    padding: 8px 8px;
    max-height: 36px;
}

.multi-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}