.search-wrapper {
    width: 100% !important;
    max-width: 1066px !important;
    height: 100% !important;
}


.dropdown .btn {
    background-color: #ffffff;
    color: #333333;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    position: relative;
    height: 43px;
    border-right: 1px solid #203972;
    border-radius: 0px;
}

.search-wrapper>div{
    width: 100%;
    max-width: 300px;
}

.dropdown-menu {
    border: 1px solid #ccc;
    background: #fff;
    z-index: 1000;
}



