.margin-20 {
    margin-top: 20px;
}

.welcome-line {
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
}

.container p strong {
    color: #FFF;
    cursor: pointer;
    font-size: 18px;
}

.welcome-sec {
    min-height: 111px;
}