.margin-20 {
    margin-top: 20px;
}

.welcome-line {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    color: #B00020;
}

.welcome-sec p strong {
    color: #000;
    cursor: pointer;
    font-size: 18px;
    text-underline-offset: 2px;
    text-decoration: underline;
}

/* Search.css */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.react-select__menu {
    animation: fadeIn 300ms ease-in;
}

.react-select__menu--exit {
    animation: fadeOut 300ms ease-in;
}

.welcome-sec {
    min-height: 130px;
}