.whatsapp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #25d366;
    /* WhatsApp green color */
    cursor: pointer;
    transition: transform 0.2s;
    position: fixed;
    /* Fixes the icon to the viewport */
    bottom: 20px;
    /* Positions it at the bottom of the page */
    right: 20px;
    /* Positions it at the right of the page */
    z-index: 1000;
    /* Ensures it stays above other elements */
}

.whatsapp-container:hover {
    transform: scale(1.1);
}

.whatsapp-icon {
    width: 30px;
    height: 30px;
}

.whatsapp-container:hover::after {
    content: "Connect with Adviser";
    position: absolute;
   right: 0;
    transform: translateX(-50%);
    background-color: #fff;
    color: #25d366;
    padding: 10px 15px;
    border-radius: 20px; /* Makes the box look like a bubble */
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); /* Updated for a stronger bubble effect */
    border: 1px solid #25d366; /* Adds a border matching the text color */
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    opacity: 0;
}

.whatsapp-container:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}