@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://fonts.cdnfonts.com/css/helvetica-neue-55') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Helvetica Neue', Helvetica;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    -webkit-font-smoothing: antialiased;
}
h5{font-size:23px !important;}

/* Define custom styles for the modal */


/* Media query for smaller screens */
@media (max-width: 768px) {
    .custom-modal {
        max-width: 100% !important;
        /* Ensure it fits smaller screens */
        margin: 0 !important;
        height: 100vh !important;
    }

    .custom-modal .modal-body {
        padding: 15px !important;

        /* Adjust padding for mobile */
    }

    .custom-modal .modal-content {
        /* height: 100% !important; */
        border-radius: 0;
    }

    .custom-modal .modal-footer {
        justify-content: center;
        /* Center align buttons */
    }

    .navbar>.container-fluid {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}

.custom-modal-body .container-fluid .row .col-md-12{ padding: 0;}
.custom-modal-body .container-fluid .row .col-md-12 .card {margin-top: 10px;}