.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.header-eu {
    background-image: url(/assets/images/Eu-bg/EU.jpg);
    /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: 768px) {
    .header-eu {
        min-height: 300px;

    }
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card-eu {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-eu h2 {
    font-size: 1.5rem;
    /* margin-bottom: 15px; */
    font-weight: bold;
}

.card-eu p {
    font-size: 1rem;
    line-height: 1.6;
}

.card-eu ul {
    list-style-type: disc;
    /* margin-left: 20px; */
    font-size: 1rem;
}